<template>
    <div>
        <div class="content">
			<div class="container-fluid">
					
				<!--~~~~~~~ TABLE ONE ~~~~~~~~~-->
				<div class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20">
					<p class="_title0">Tags <Button @click="addModal=true"><Icon type="md-add" /> Add</Button></p>

					<div class="_overflow _table_div">
						<table class="_table">
								<!-- TABLE TITLE Begin -->
							<tr>
								<th>ID</th>
								<th>Tag Name</th>
								<th>Created at</th>
								<th>Action</th>
							</tr>
								<!-- TABLE TITLE End -->


								<!-- ITEMS Begin -->
							<tr v-for="(tag, i) in tags" :key="i" v-if="tags.length">
								<td>{{tag.id}}</td>
								<td class="_table_name">{{tag.tagName}}</td>
								<td>{{tag.created_at}}</td>
								<td>
									<Button type="info" size="small" @click="showEditModal(tag, i)"><Icon type="md-create" /> Edit</Button>
									<Button type="error" size="small" @click="showDeleteModal(tag, i)"><Icon type="md-trash" /> Delete</Button>
								</td>
							</tr>
								<!-- ITEMS end -->
						</table>
					</div>
				</div>
				<!-- <Page :total="100" /> -->


				<!-- Tags Add Modal -->
				<Modal
					v-model="addModal"
					title="Add Tag"
					width=340> 

					<Input v-model="data.tagName" placeholder="Enter Tag Name..." style="width: 300px" />					

					<div slot="footer">
						<Button type="default" @click="addModal=false">Cancel</Button>
						<Button type="primary" @click="addTag" :disabled="isAdding" :loading="isAdding">{{isAdding ? "Adding..." : "Add tag"}}</Button>
					</div>
				</Modal>

				<!-- Tags Edit Modal -->
				<Modal
					v-model="editModal"
					title="Edit Tag"
					width=340> 

					<Input v-model="editData.tagName" placeholder="Edit Tag Name..." style="width: 300px" />					

					<div slot="footer">
						<Button type="default" @click="editModal=false">Cancel</Button>
						<Button type="primary" @click="editTag" :disabled="isAdding" :loading="isAdding">{{isAdding ? "Editing..." : "Edit tag"}}</Button>
					</div>
				</Modal>
				
				<!-- Tags delete Modal -->
				<Modal
					v-model="deleteModal"
					title="delete Tag"
					width=340> 

					<p>You deleting this -> ' {{this.deleteData.id}}:{{this.deleteData.tagName}} ' data</p>					

					<div slot="footer">
						<Button type="default" @click="deleteModal=false">Cancel</Button>
						<Button type="error" @click="deleteTag" :disabled="isAdding" :loading="isAdding">{{isAdding ? "Deleting..." : "Delete tag"}}</Button>
					</div>
				</Modal>

			</div>
		</div>
    </div>
</template>

<script>
export default {

	data(){
		return {
			data: {
				tagName: "" //modal dagi inputdagi qiymatni o`ziga oladi
			},
			editData: {
				tagName: "",
			},
			deleteData: {
				id: null,
				tagName: "",
			},
			addModal: false,//yangi tag qo`shadigan modal oynaning ochish yoki yopish uchun ishlatiladi
			editModal: false,//edit modal oynaning ochish yoki yopish uchun ishlatiladi
			deleteModal: false,//edit modal oynaning ochish yoki yopish uchun ishlatiladi
			isAdding: false,//???
			tags: [], //Tags larning ro`yxatini o`zida saqlaydiva shu massivdan olib jadval qilinadi
			editIdtags: null,//
			deleteIdTags: null//
		}
	},

	methods: {
		async addTag(){
			//front end da tekshirmoqda. Agar tagName bo`sh bo`lsa return ishlab error beradi va 
			//funksiya shu yerda to`xtaydi ya`ni qolgan ishni bajarmaydi.
			if(this.data.tagName.trim()=="") return this.e("Tag name is required")
			
			//common.js faylidagi callApi funksiyasi yordamida back endga ma`lumot jo`natadi
			const res = await  this.callApi("post", "app/create_tag", this.data)

			//back end dan javob qaytgandan so`ng
			if(res.status === 201 ){//Agar status 201 ya`ni succes bo`lsa
				this.tags.push(res.data)//res.data massivini tags massiviga joylaydi
				this.s("Tag has been added succesfully")//Succes ni notice qilmoqda
				this.addModal = false //modal yopilmoqda
				this.data.tagName = "" //res.data.tagName dagi qiymatni tozalamoqda
			}else{//201 dan boshqa status bo`lganida ya`ni xatolik bo`lgan holda
				if(res.status==422){ //Status 422 bo`lsa ya`ni back end ning validatsiyasidan o`tmasa
					if((res.data.errors.tagName)){
						this.e(res.data.errors.tagName[0])//back enddan data.errors.tagName dan qanday xato bo`lganini xabari keladi
					}
				}else{
					this.swr()//Qandaydir Xatolik bo`lsa notice da chiqaradi
				}
			}
		},



		async editTag(){
			//front end da tekshirmoqda. Agar tagName bo`sh bo`lsa return ishlab error beradi va 
			//funksiya shu yerda to`xtaydi ya`ni qolgan ishni bajarmaydi.
			if(this.editData.tagName.trim()=="") return this.e("Tag name is required")
			
			//common.js faylidagi callApi funksiyasi yordamida back endga ma`lumot jo`natadi
			const res = await  this.callApi("post", "app/edit_tag", this.editData)

			//back end dan javob qaytgandan so`ng
			if(res.status === 200 ){//Agar status 201 ya`ni succes bo`lsa
				this.tags[this.editIdtags].tagName = this.editData.tagName
				this.s("Tag has been edited succesfully")//Edit ni notice qilmoqda
				this.editModal = false //modal yopilmoqda
				this.editIdtags = null
				this.editData = {tagName: ""}

			}else{//201 dan boshqa status bo`lganida ya`ni xatolik bo`lgan holda
				if(res.status==422){ //Status 422 bo`lsa ya`ni back end ning validatsiyasidan o`tmasa
					if((res.data.errors.tagName)){
						this.e(res.data.errors.tagName[0])//back enddan data.errors.tagName dan qanday xato bo`lganini xabari keladi
					}
				}else{
					this.swr()//Qandaydir Xatolik bo`lsa notice da chiqaradi
				}
			}
		},

		async deleteTag(){
			const res = await this.callApi("post", "app/delete_tag", this.deleteData) 
			 
			if(res.status === 200){
				this.tags.splice(this.deleteIdTags, 1);
				//console.log(this.tags)
				this.deleteModal = false
				this.s("Succes Deleted")
				this.deleteIdTags = null
				this.deleteData = {id: null,tagName: "",}

			}else{
				this.swr()
			}
		},

		showEditModal(tag, i){
			let obj = {
				id: tag.id,
				tagName: tag.tagName
			}
			this.editIdtags = i
			this.editData = obj
			this.editModal = true
		},

		showDeleteModal(tag, i){
			
			this.deleteIdTags = i
			this.deleteData.tagName = tag.tagName
			this.deleteData.id = tag.id
			// console.log(this.deleteData.id)
			// console.log(tag.id)
			// console.log(this.deleteData.tagName)
			// console.log(tag.tagName)
			this.deleteModal = true

		}
	},

	async created() {//shu faylni yuklangan paytda avtomatik ishlaydi
		//res nomli o`zgarmas callApi funksiyasidan qaytgan javobni oladi
		const res  = await this.callApi("get", "app/get_tags")
		
		if(res.status === 200 ){ //agar res.status 200 bo`lsa ya`ni succes bo`lsa 
			this.tags = res.data //tags massivga res.data ning ma`lumotlari qo`yiladi 
		}else{
			this.swr() //Xatoliklar bo`lsa chiqaradi
		}
	}

}
</script>