<template>
    <div>
        <div class="content">
			<div class="container-fluid">
                 <h1> I will show  how all other components</h1> 
                 Counter: {{counter}}
                 <div>
                    <comA></comA>
                </div>
                <div>
                    <comB></comB>
                </div>
                <div>
                    <comC></comC>
                </div>
                <Button type="info" @click="changeCounter">Change counter</Button>
			</div>

            
        </div>
       
            
    </div>
</template>
<script>
import comA from './comA'
import comB from './comB'
import comC from './comC'
import {mapGetters} from "vuex"
import {mapActions} from "vuex"

export default {
    data(){
        return {
            LocalVar: "Assalomu Alaykum"
        }
    },

    created(){
        
    },

    methods: {
        ...mapActions([

        ])
    },

    computed: {
        ...mapGetters({
            "counter" : "getCounter"
        })
    },

    methods: {
        changeCounter(){
            this.$store.dispatch("changeCounterActions", 1)
            //this.$store.commit('changeTheCounter', 1)
        },
        runSomething(){
            console.log("Salom")
        }
    },

    components : {
        comA,
        comB,
        comC,
    },

    watch: {
        counter(value){
            console.log("Counter is changed: ", value)
            this.runSomething()
            console.log("->", this.LocalVar)
        }
    }
}
</script>