<template>
    <div>
                <Modal
					:value="deleteModalObj.deleteModal"
					title="Delete Window"
					>
					<p>You want delete this {{deletedata.categoryName}} ?</p>
					<div slot="footer">
						<Button type="default" @click="CanceldeleteModal">Cancel</Button>
						<Button type="error" @click="deleteCategory" :disabled="isAdding" :loading="isAdding">{{isAdding ? "Deleting..." : "Delete Category"}}</Button>
					</div>
				</Modal>    
    </div>
</template>

<script>
import {mapGetters} from "vuex"

export default {
    data:{
        isAdding: false,
    },
    
    computed : {
        ...mapGetters(['getDeleteModalObj'])
    }

}
</script>