<template>
    <div>
        <h1 ref="myref">Hooks</h1>
        <p ref="asd">My Name is {{name}}</p>
    </div>
</template>

<script>
export default {
    data(){
        return {
            name: "Sherozjon"
        }
    },

    beforeCreate(){
        console.log("Before", this.name)
    },

    created(){
        console.log("Data and other function is avilable but not html", this.name)
    },

    mounted(){
        console.log(this.$refs.asd)
    },
}
</script>