<template>

    <div>
        <h1>
            Counter Number: {{views}} !
        </h1>
        <button @click="updateCounter(1)">Increase</button>
        <button @click="updateCounter(-1)">Decrease</button>
        
        <br><br><br>

        <div v-for="(blog, i) in  blogs" :key = "i">
            <h1>{{blog.title}}</h1>
            <p>{{blog.post}}</p>
        
        </div>
        <br><br><br> 
        <div>
                    <h1 v-if="showItem">true</h1>
                    <h1 v-else>false</h1>
        </div>

        <button @click="changeItem">Change showItem</button>
    </div>
    
</template>

<script>
export default {
    data(){
        return {
            views: 3,
            blogs: [],
            showItem: false,

        }
    },

    methods:{
        updateCounter(number){
            this.views += number
        },
        changeItem(){
            this.showItem = !this.showItem
        }
    },

    created(){
        this.views = 100 

        let posts = [
                {title: "This is blog title1", "post": "This is the blog post1", id: 1},
                {title: "This is blog title2", "post": "This is the blog post2", id: 2},
                {title: "This is blog title3", "post": "This is the blog post3", id: 3},
                {title: "This is blog title4", "post": "This is the blog post4", id: 4},
        ] 

        this.blogs = posts;
    }
}
</script>