<template>
    <div>
        <div class="content">
			<div class="container-fluid">
					
				<!--~~~~~~~ TABLE ONE ~~~~~~~~~-->
				<div class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20">
					<div class="table_title">
						<div class="nomi space_all table_main">
							Admin
						</div>
						<div class="space_all">
							<Button v-if="isWritePermitted" @click="addModal=true" size="large"><Icon type="md-add" /> Add</Button> 
						</div>
					</div>

					<div class="_overflow _table_div">
						<table class="_table">
								<!-- TABLE TITLE Begin -->
							<tr>
								<th class="table_id"><Icon type="md-arrow-round-down" /> ID</th>
								<th class="_check"></th>
								<th><Icon type="md-arrow-round-down" /> Full Name</th>
								<th><Icon type="md-arrow-round-down" /> Email</th>
                                <th><Icon type="md-arrow-round-down" /> User Type</th>
                                <th><Icon type="md-arrow-round-down" /> Created at</th>
                                <th><Icon type="md-arrow-round-down" /> Updated at</th>
								<th class="action_icon">Action</th>
							</tr>
								<!-- TABLE TITLE End -->


								<!-- ITEMS Begin -->
							<tr v-for="(admin_user, i) in admin_users" :key="i">
								<td>{{admin_user.id}}</td>
								<td style="width: 10px;"><Checkbox></Checkbox></td>
								<td class="table_main">{{admin_user.fullName}}</td>
								<td class="table_main">{{admin_user.email}}</td>
								<td class="table_main">{{admin_user.role_id}}</td>
								<td>{{dataCorrect(admin_user.created_at)}}</td>
								<td>{{dataCorrect(admin_user.updated_at)}}</td>
								<td>
									<Button v-if="isUpdatePermitted" type="info" size="large" @click="showEditModal(admin_user, i)"><Icon type="md-create" /></Button>
									<Button v-if="isDeletePermitted" type="error" size="large" @click="showDeleteModal(admin_user, i)"><Icon type="md-trash" /></Button>
								</td>
							</tr>
								<!-- ITEMS end -->
						</table>
					</div>
				</div>
				<!-- <Page :total="100" /> -->


				<!-- Admin Add Modal -->
				
				<Modal
					v-model="addModal"
					title="Add admin"
                    :mask-closable="false"
                    :cloasable="false"
					width=340
					>
					

					<Input v-model="data.fullName" placeholder="Enter Admin Full Name..." style="width: 300px" />					
					<div class="space"></div>
                    <Input type="email" v-model="data.email" placeholder="Enter Email..." style="width: 300px" />					
					<div class="space"></div>
                    <Input type="password" v-model="data.password" placeholder="Enter Password..." style="width: 300px" />					
					<div class="space"></div>
                    <Select v-model="data.role_id" style="width:300px" placeholder="Select admin type">
                        <Option v-for="(role, i) in roles" :key="i" :value="role.id">{{role.roleName}}</Option>
                    </Select>
					<div class="space"></div>


					<div slot="footer">
						<Button type="default" @click="CancelAddModal">Cancel</Button>
						<Button type="primary" @click="addAdmin" :disabled="isAdding" :loading="isAdding">{{isAdding ? "Adding..." : "Add Admin"}}</Button>
					</div>
				</Modal>

				<!-- Admin Edit Modal -->

				<Modal
					v-model="editModal"
					title="Admin Edit"
					width=340
					>
						
					<div class="space">
						<Input v-model="editData.fullName" placeholder="Enter Full Name..." style="width: 300px" />
					</div>
					<div class="space">
						<Input type="email" v-model="editData.email" placeholder="Enter Email..." style="width: 300px" />
					</div>
					<div class="space">
						<Input type="password" v-model="editData.password" placeholder="Enter password..." style="width: 300px" />
					</div>
					<div class="space"></div>
                    <Select v-model="editData.role_id" style="width:300px" placeholder="Select admin type">
                        <Option v-for="(role, i) in roles" :key="i" :value="role.id">{{role.roleName}}</Option>
                    </Select>
					<div class="space"></div>

					<div slot="footer">
						<Button type="default" @click="CancelEditModal">Cancel</Button>
						<Button type="primary" @click="EditAdminUser" :disabled="isAdding" :loading="isAdding">{{isAdding ? "Editing..." : "Edit Category"}}</Button>
					</div>
				</Modal>

				<!-- Category delete Modal -->
				
				<Modal
					v-model="deleteModal"
					title="Delete Window"
					>
					<p>You want delete this {{deletedata.fullName}} ?</p>
					<div slot="footer">
						<Button type="default" @click="CanceldeleteModal">Cancel</Button>
						<Button type="error" @click="deleteAdmin" :disabled="isAdding" :loading="isAdding">{{isAdding ? "Deleting..." : "Delete Category"}}</Button>
					</div>
				</Modal>

			</div>
		</div>
    </div>


</template>
<script>

export default {
	
	data(){
		return {
			data: {
				fullName: "",
                email: "",
                password: "",
				role_id: null

			},
			
			deletedata: {
				fullName: "",
                email: "",
                password: "",
				role_id: null
			},

			editData: {
				fullName: "",
                email: "",
                password: "",
				role_id: null
			},

			admin_users:[],
			addModal: false,
			editModal: false,
			deleteModal: false,
			isAdding: false,
			editInfo: false,
			deleteId: null,
			editId: null,
			websiteSettings: [],
			roles: []
		}
	},

	methods: {

		async addAdmin(){
			if(this.data.fullName.trim()=="") return this.e("Admin Full Name is required")
			if(this.data.fullName.length < 3) return this.e("The Admin Full Name must be at least 3 characters")
			if(this.data.email.trim()=="") return this.e("Email is required")
			if(this.data.email.length < 3) return this.e("The Admin Email  must be at least 3 characters")
			if(this.data.password.trim()=="") return this.e("Password is required")
			if(this.data.password.length < 3) return this.e("The Password  must be at least 3 characters")
			if(this.data.role_id == null) return this.e("Password is required")
			
			this.addModal = false
			const res = await  this.callApi("post", "app/create_user", this.data)

			if(res.status === 201 ){
				this.admin_users.push(res.data)
				this.s("Admin has been added succesfully")
				this.data = {
					fullName: "",
					email: "",
					password: "",
					role_id: null
				}				
			}else{
				this.addModal = true
				if(res.status == 422){
					if(res.data.errors.fullName){
						this.e(res.data.errors.fullName[0])
					}
					if(res.data.errors.email){
						this.e(res.data.errors.email[0])
					}
					if(res.data.errors.password){
						this.e(res.data.errors.password[0])
					}
					if(res.data.errors.role_id){
						this.e(res.data.errors.role_id[0])
					}
				}else{
					this.swr()
				}
			}
		},
	
		CancelAddModal(){
			this.addModal = false
			this.data = {
					fullName: "",
					email: "",
					password: "",
					role_id: null
				}
			
            this.i("Cancel Window")		
		},
		

		async deleteAdmin(){
			this.deleteModal = false
			console.log(this.deletedata)
			const res = await this.callApi("post", "app/delete_user", this.deletedata)
			
			if(res.status == 200){
				this.admin_users.splice(this.deleteId , 1) 
				this.deleteId = null
				this.s("Delete Admin SuccesFully")
			}else{
				this.swr()
				this.deleteModal = true
			}
		},
		
		showDeleteModal(category, i){
			this.deletedata = category
			this.deleteId = i
			this.deleteModal = true
		},

		CanceldeleteModal(){
			this.deleteModal = false
			this.i("Cancel Window")
		},


		showEditModal(admin_user, i){
			let obj = {
				id: admin_user.id,
				fullName: admin_user.fullName,
				email: admin_user.email,
				role_id: admin_user.role_id
			}
			this.editId = i
			this.editData = obj
			this.editModal = true
		},

		async CancelEditModal(){
			if(this.editInfo == true){
				this.editInfo = false
			}else{
				this.i("Cancel Window")
			}
			this.editModal = false
		},

		async EditAdminUser(){
			if(this.editData.fullName.trim()=="") return this.e("Admin Full Name is required")
			if(this.editData.fullName.length < 3) return this.e("The Admin Full Name must be at least 3 characters")
			if(this.editData.email.trim()=="") return this.e("Email is required")
			if(this.editData.email.length < 3) return this.e("The Admin Email  must be at least 3 characters")
			if(this.editData.role_id == null) return this.e("User Type is required")
			this.editModal = false
			const res = await this.callApi("post", "/app/edit_user", this.editData)
			if(res.status == 200){
				this.admin_users[this.editId].fullName = this.editData.fullName
				this.admin_users[this.editId].email = this.editData.email
				this.admin_users[this.editId].role_id = this.editData.role_id
				this.s("Edited SuccesFully")
				this.editInfo = true
				this.CancelEditModal()
				
			}else{
				this.addModal = true
				if(res.status == 422){
					if(res.data.errors.fullName){
						this.e(res.data.errors.fullName[0])
					}
					if(res.data.errors.email){
						this.e(res.data.errors.email[0])
					}
					if(res.data.errors.password){
						this.e(res.data.errors.password[0])
					}
					if(res.data.errors.role_id){
						this.e(res.data.errors.role_id[0])
					}
				}else{
					this.swr()
				}
			}
		},

	},

	async created() {//shu faylni yuklangan paytda avtomatik ishlaydi
		this.token = window.Laravel.csrfToken
		
		// const res  = await this.callApi("get", "app/get_users")
		// console.log(res.data)
		// const resRole  = await this.callApi("get", "app/get_roles")

		//res nomli o`zgarmas callApi funksiyasidan qaytgan javobni oladi
		const [res, resRole] = await Promise.all([
			this.callApi("get", "app/get_users"),
			this.callApi("get", "app/get_roles")
		])
		
		
		
		if(res.status === 200 ){ 
			this.admin_users = res.data
			console.log(this.admin_users)
		}else{
			this.swr()
		}

		if(resRole.status === 200 ){ 
			this.roles = resRole.data
		}else{
			this.swr()
		}
	}
}
</script>

