<template>
    <div>
		
        <div class="content">
			<div class="container-fluid">
					
				<!--~~~~~~~ TABLE ONE ~~~~~~~~~-->
				<div class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20">
					<div class="table_title">
						<div class="nomi space_all table_main">
						    Assign Role
						</div>
						<div class="space_all">
						    <Select size="large" v-model="data.role_id" style="width:200px" placeholder="Select admin type" @on-change="ChangeAdmin">
                                <Option v-for="(role, i) in roles" :key="i" :value="role.id">{{role.roleName}}</Option>
                            </Select>
						</div>
					</div>

					<div class="_overflow _table_div">
						<table class="_table" >
								<!-- TABLE TITLE Begin -->
                                <tr>
                                    <th>Resource name</th>
                                    <th>Read</th>
                                    <th>Write</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                    <th>IconUrl</th>
                                </tr>
                                
                                <tr v-if="resources.length" v-for="(resource1, i) in resources" :key="i" >
                                    <td class="table_main">{{resource1.resourceName}}</td>
                                    <td><Checkbox v-model="resource1.read"></Checkbox></td>
                                    <td><Checkbox v-model="resource1.write"></Checkbox></td>
                                    <td><Checkbox v-model="resource1.update"></Checkbox></td>
                                    <td><Checkbox v-model="resource1.delete"></Checkbox></td>
                                    <td style="width: 250px">
                                        <Input v-model="resource1.iconUrl" placeholder="Enter Icon Url Name..." />					
                                    </td>
                                </tr>
    
								<!-- ITEMS end -->

                                <div class="space_all">
                                    <Button type="primary" :isloading="isSending" :disabled="isSending" @click="assignRoles"> Assign </Button>
                                </div>

						</table>
					</div>
				</div>
				<!-- <Page :total="100" /> -->
			</div>
		</div>
    </div>
</template>

<script>
export default {

	data(){
		return {
			data: {
                roleName: "",
                role_id: null
			},
            roles: [],
            isSending: false,
            
            resources: [],

            defaultResourcesPermission: [],
			
		}
	},

	methods: {
		async assignRoles(){
            let data = JSON.stringify(this.resources)
            const res = await this.callApi("post", "app/assign_roles", {"permission" : data, id: this.data.role_id})
            if(res.status == 200){
                this.s("Role has been assigned succesfully!")
                let index = this.roles.findIndex(role => role.id == this.data.role_id)
                this.roles[index].permission = data
                window.location = "/assignRole"
            }else{
                this.swr()
            }
        },

        ChangeAdmin(){
            let index = this.roles.findIndex(role => role.id == this.data.role_id)
            let permission = this.roles[index].permission
            if(!permission){
                this.resources = this.defaultResourcesPermission
            }else{
                this.resources = JSON.parse(permission)
            }

            
        }
		
	},

	async created() {
        
        this.resources = this.$store.state.stateResources
        this.defaultResourcesPermission = this.resources
        const res  = await this.callApi("get", "app/get_roles")
		
		if(res.status === 200 ){  
            this.roles = res.data    
            if(res.data.length){
                this.data.role_id = this.roles[0].id
                this.data.roleName = this.roles[0].roleName 
                
                if(res.data[0].permission){
                    this.resources = JSON.parse(res.data[0].permission)
                    
                }
            }           
            
		}else{
			this.swr() 
		}
	}

}
</script>