<template>
    <div>
        <div class="content">
			<div class="container-fluid">
					
				<!--~~~~~~~ TABLE ONE ~~~~~~~~~-->
				<div class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20">
					<p class="_title0">Category<Button @click="addModal=true"><Icon type="md-add" /> Add</Button></p>

					<div class="_overflow _table_div">
						<table class="_table">
								<!-- TABLE TITLE Begin -->
							<tr>
								<th class="table_id"><Icon type="md-arrow-round-down" /> ID</th>
								<th class="_check"></th>
								<th><Icon type="md-arrow-round-down" /> Category Name</th>
								<th><Icon type="md-arrow-round-down" /> Icon Image</th>
								<th><Icon type="md-arrow-round-down" /> Created at</th>
								<th>Action</th>
							</tr>
								<!-- TABLE TITLE End -->


								<!-- ITEMS Begin -->
							<tr v-for="(category, i) in categories" :key="i">
								<td>{{category.id}}</td>
								<td style="width: 10px;"><Checkbox></Checkbox></td>
								<td class="table_main">{{category.categoryName}}</td>
								<td class="table_image">
									<div class="demo-upload-list">
									<img  :src="category.iconImage" alt="Image" >
									<div class="demo-upload-list-cover">
										<Icon type="ios-eye-outline" @click="image_show_f(category.iconImage)"></Icon>
									</div>
									</div>
								</td>
								<td>{{category.created_at}}</td>
								<td>
									<Button type="info" size="large" @click="showEditModal(category, i)"><Icon type="md-create" /> Edit</Button>
									<Button type="error" size="large" @click="showDeleteModal(category, i)"><Icon type="md-trash" /> Delete</Button>
								</td>
							</tr>
								<!-- ITEMS end -->
						</table>
					</div>
				</div>
				<!-- <Page :total="100" /> -->


				<!-- Category Add Modal -->
				
				<Modal
					v-model="addModal"
					title="Add Category"
					width=340
					>
					

					<Input ref="salom" v-model="data.categoryName" placeholder="Enter Category Name..." style="width: 300px" />					
					<div class="space"></div>
					<div v-if="data.iconImage == ''">
					<Upload
						ref="upload_add"
                        type="drag"
						:headers= "{'x-csrf-token': token, 'X-Requested-With': 'XMLHttpRequest'}"
                        action="/app/upload"
						:on-success="upload_new_image"
						:on-error="handleError"
						:format="['jpg','jpeg','png', 'bmp']"
						:max-size="100000"
						:on-format-error="handleFormatError"
						:on-exceeded-size="handleMaxSize"
						>
                        <div style="padding: 20px 0">
                            <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
                            <p>Click or drag Image here to upload</p>
                        </div>
                    </Upload>
					</div>
					
					<div class="input_image" v-if="data.iconImage">
						<img :src="`${data.iconImage}`">
						<div class="space" align="center">
							<Button @click="deleteImage" type="error"> <Icon type="ios-trash-outline" size="large"></Icon> Delete Image</Button>
						</div>
						
					</div>
					<div slot="footer">
						<Button type="default" @click="CancelAddModal">Cancel</Button>
						<Button type="primary" @click="addCategory" :disabled="isAdding" :loading="isAdding">{{isAdding ? "Adding..." : "Add Category"}}</Button>
					</div>
				</Modal>

				<!-- Category Edit Modal -->

				<Modal
					v-model="editModal"
					title="Edit Window"
					width=340
					>
					<Input v-model="editData.categoryName" placeholder="Enter Category Name..." style="width: 300px" />	
					<div class="space"></div>
					<div class="input_image" v-if="editData.iconImage">
						<img :src="`${editData.iconImage}`">
						<div class="space" align="center">
							<Upload 
							ref = "editUpload"
							:headers= "{'x-csrf-token': token, 'X-Requested-With': 'XMLHttpRequest'}"
							action = "/app/replace_image"
							:on-success="upload_replace_image"
							:on-error="handleError"
							:format="['jpg','jpeg','png', 'bmp']"
							:max-size="100000"
							:on-format-error="handleFormatError"
							:on-exceeded-size="handleMaxSize"
							>
								<Button icon="ios-cloud-upload-outline" type="primary">Replace Image</Button>
							</Upload>
						</div>
						
					</div>

					<div slot="footer">
						<Button type="default" @click="CancelEditModal">Cancel</Button>
						<Button type="primary" @click="EditCategory" :disabled="isAdding" :loading="isAdding">{{isAdding ? "Editing..." : "Edit Category"}}</Button>
					</div>
				</Modal>

				<!-- Category delete Modal -->

				<!-- Image Show Modal -->
				
				<Modal
					v-model="image_show_Modal"
					title="Show Image Window"
					>
						<img :src="`${image_src}`">

					<div slot="footer" v-show="false">
						<Button type="default" @click="CancelEditModal">Cancel</Button>						
					</div>
				</Modal>


			</div>
		</div>
    </div>


</template>
<script>

export default {
	
	data(){
		return {
			data: {
				iconImage: "",
				categoryName: "",

			},
			deletedata: {
				iconImage: "",
				categoryName: "",
			},

			editData: {
				id: null,
				iconImage: "",
				old_iconImage: "",
				categoryName: "",
			},
			
			categories:[],
			addModal: false,//yangi tag qo`shadigan modal oynaning ochish yoki yopish uchun ishlatiladi
			editModal: false,//edit modal oynaning ochish yoki yopish uchun ishlatiladi
			deleteModal: false,//edit modal oynaning ochish yoki yopish uchun ishlatiladi
			isAdding: false,//???null
			deleteId: null,
			editId: null,
			editInfo: false,
			replace_image_array:  [], 
			image_show_Modal: false,
			image_src: null,
			websiteSettings: []
		}
	},

	methods: {
		image_show_f(image_src){
			this.image_show_Modal = true
			this.image_src = image_src
		},

		async addCategory(){
			if(this.data.categoryName.trim()=="") return this.e("Category Name is required")
			if(this.data.categoryName.length < 3) return this.e("The category name must be at least 3 characters")
			if(this.data.iconImage.trim()=="") return this.e("Icon Image is required")
			this.addModal = false
			const res = await  this.callApi("post", "app/create_category", this.data)

			if(res.status === 201 ){
				this.categories.push(res.data)
				this.s("Category has been added succesfully")
				this.data.categoryName = "" 
				this.data.iconImage = ""
			}else{//201 dan boshqa status bo`lganida ya`ni xatolik bo`lgan holda
				if(res.status==422){ //Status 422 bo`lsa ya`ni back end ning validatsiyasidan o`tmasa
					if((res.data.errors.categoryName)){
						this.e(res.data.errors.categoryName[0])
						this.addModal = true
					}
					if((res.data.errors.iconImage)){
						this.e(res.data.errors.iconImage[0])
						this.addModal = true
					}
				}else{
					this.swr()
					this.addModal = true
				}
			}
		},

		upload_new_image (res, file) {
                this.data.iconImage = res
		},

		async deleteImage(){	
			let image = this.data.iconImage
			this.data.iconImage = ''
			const res = await this.callApi("post", "app/delete_image", {iconImage: image})
			
			if(res.status != 200){
				this.data.iconImage = image
				this.swr()
			}else{
				this.s("Succesfully delete image")
			}
		},
	
		async CancelAddModal(){
			this.addModal = false
			let image = this.data.iconImage
			this.data.iconImage = ''
			this.data.categoryName = ""
			const res = await this.callApi("post", "app/delete_image", {iconImage: image})
			
			if(res.status != 200){
				this.data.iconImage = image
				this.swr()
				this.addModal = true
			}else{
				this.i("Cancel Click")
			}
			
		},
		

		async deleteCategory(){
			this.deleteModal = false
			const res = await this.callApi("post", "app/delete_category", this.deletedata)
			
			if(res.status == 200){
				this.categories.splice(this.deleteId , 1) 
				this.deleteId = null
				this.s("Delete Category SuccesFully")
			}else{
				this.swr()
				this.deleteModal = true
			}
		},
		
		showDeleteModal(category, i){
			this.deletedata = category
			this.deleteId = i
			this.deleteModal = true
		},

		CanceldeleteModal(){
			this.deleteModal = false
			this.i("Cancel Window")
		},


		showEditModal(category, i){
			let obj = {
				id: category.id,
				iconImage: category.iconImage,
				old_iconImage: category.iconImage,
				categoryName: category.categoryName,
			}
			this.editId = i
			this.editData = obj
			console.log(this.editData)
			this.editModal = true
		},

		upload_replace_image(res, file){
			this.editData.iconImage = res
			this.replace_image_array.push(res)
			if(this.replace_image_array.length > 5){
				this.w("You replace image more from 5")
				this.CancelEditModal()
			}
		},

		async CancelEditModal(){
			if(this.editInfo == true){
				this.editInfo = false
			}else{
				this.i("Cancel Window")
			}
			this.editModal = false
			if(this.replace_image_array.length > 0){
				const del_images = await this.callApi("post", "app/delete_replace_images", this.replace_image_array)
				this.$refs.editUpload.clearFiles()
				this.replace_image_array = []
				this.editData = {
					id: null,
					iconImage: "",
					old_iconImage: "",
					categoryName: "",
				}
			}
		},

		async EditCategory(){
			if(this.editData.categoryName.trim() == "") return this.e("Category Name Required")
			if(this.editData.categoryName.length < 3 ) return this.e("The category name must be at least 3 characters")
			if(this.editData.iconImage.trim()== "" || this.replace_image_array.length == 0) return this.e("Icon Image is Required")
			if(this.editData.categoryName.length > 0){
				this.editData.iconImage = this.replace_image_array[this.replace_image_array.length - 1]
				this.replace_image_array[this.replace_image_array.length - 1] = this.editData.old_iconImage
				}
			this.editModal = false
			const edit_category = await this.callApi("post", "/app/edit_category", this.editData)
			if(edit_category.status == 200){
				this.s("Edited SuccesFully")
				this.editInfo = true
				this.CancelEditModal()
				this.categories[this.editId].categoryName = this.editData.categoryName
				this.categories[this.editId].iconImage = this.editData.iconImage
			}else{
				if(edit_category.status == 422){
					if(edit_category.errors.data.categoryName){
						this.e(edit_category.errors.data.categoryName[0])
						this.editModal = true
					}
					if(edit_category.errors.data.iconImage){
						this.e(edit_category.errors.data.iconImage[0])
						this.editModal = true
					}
					
				}
			}
		},


		handleError (res, file) {
				this.$Notice.warning({
                    title: 'The file format is incorrect',
                    desc: `${file.errors.file.length ? file.errors.file[0] : 'Something went wrong!'}`
				});
				
            },
		
		handleFormatError (file) {
                this.$Notice.warning({
                    title: 'The file format is incorrect',
                    desc: 'File format of ' + file.name + ' is incorrect, please select jpg or png.'
                });
            },
		
		handleMaxSize (file) {
                this.$Notice.warning({
                    title: 'Exceeding file size limit',
                    desc: 'File  ' + file.name + ' is too large, no more than 2M.'
                });
        },
	},

	async created() {//shu faylni yuklangan paytda avtomatik ishlaydi
		this.token = window.Laravel.csrfToken
		
		//res nomli o`zgarmas callApi funksiyasidan qaytgan javobni oladi
		const res  = await this.callApi("get", "app/get_categories")
		
		if(res.status === 200 ){ //agar res.status 200 bo`lsa ya`ni succes bo`lsa 
			this.categories = res.data //tags massivga res.data ning ma`lumotlari qo`yiladi 
		}else{
			this.swr() //Xatoliklar bo`lsa chiqaradi
		}
	}
}
</script>

