<template>
    <div>
        <div class="content">
			<div class="container-fluid">
					
				<!--~~~~~~~ TABLE ONE ~~~~~~~~~-->
				<div class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20">
					<div class="table_title">
						<div class="nomi space_all table_main">
						Blogs
						</div>
					</div>

					<div class="_overflow _table_div">
						<div class="ck-editor__editable space_all">
							<!-- <ckeditor ref="editor" :editor="editor" v-model="BlogData.editorData" :config="editorConfig" ></ckeditor> -->
							<Input v-model="BlogData.title" class="space_bottom" placeholder="Title" style="width:100%;" />
							<ckeditor class="space_bottom" ref="editor" :editor="BlogData.editor" v-model="BlogData.editorData" :config="BlogData.editorConfig" ></ckeditor>	
							<!-- <Textarea v-model="BlogData.editorData"  id="details" style="width:100%; height:100vh;" /> -->	
							<div class="space_top"></div>
							<Input class="space_bottom" style="width:100%;"  v-model="BlogData.post" type="textarea" placeholder="Enter Post Excerpt..." />
							
							<Select class="space_bottom" filterable multiple placeholder="Category Select">
								<Option v-for="c in BlogData.categories" :value="c.categoryName" :key="c.categoryName">{{ c.categoryName }}</Option>
							</Select>
						</div>
						

						<Button class="space_all" type="primary" @click="addRecord" size="large">Save Blog</Button>
					</div>
				</div>
			</div>
		</div>
    </div>
</template>

<script>

import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

export default {
	data(){
		return {
				BlogData: {
					title: "",
					editor: ClassicEditor,
					editorData: '',
					editorConfig: {
						
					},
					post: "",
					categories: [],
				},
				
			}
	},

	methods: {
		async addRecord(){
			
			if(this.BlogData.title.length<1) return this.e("Title is not Emty!!!")
			console.log(this.BlogData.title)
			if(this.BlogData.editorData.length<1) return this.e("Post is not Emty!!!")
			const res = await this.callApi("post", "/app/createBlog", this.BlogData)
			if(res.status == 201){
				this.s("Blog Created Succesfully!!!")
			}else{
				this.swr();
			}
		}
	},
	
	async created(){
		const cat  = await this.callApi("get", "app/get_categories")
		
		if(cat.status === 200 ){ //agar res.status 200 bo`lsa ya`ni succes bo`lsa 
			this.BlogData.categories = cat.data //tags massivga res.data ning ma`lumotlari qo`yiladi 
		}else{
			this.swr() //Xatoliklar bo`lsa chiqaradi
		}
	}

		


}

</script>

<style>

</style>