<template>
    <div>
        <div class="container-fluid">
				<div class="log_blade_head"> 
                    Created by Karimov Sherozjon 
                </div>

                <div class="login_form _1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20 col-md-4"> 
                    <div class="login_header">
                        Login to the Dashboard
                    </div>
                    <div class="space">
						<Input v-model="data.email" type="email" placeholder="Enter User Name or Email..." />
					</div>
					<div class="space">
						<Input v-model="data.password" type="password"  placeholder="Enter Password..." />
					</div>
                    <div class="login_footer space_all">
                        <Button  size="middle" @click="login" :disabled="isLogging" :loading="isLogging"> {{isLogging ? 'Loging ... ' : "Login"}} </Button>
                    </div>
                </div>
        </div>
    </div>
</template>


<script>

export default {
    data(){
        return{
            data:{
                email: "",
                password: ""
            },
            isLogging: false,

        }
    },

    methods:{
        async login(){
            if(this.data.email.trim()=="") return this.e("Email is required")
            if(this.data.email.length < 3) return this.e("Email length small 3 characters")
            if(this.data.password.trim()=="") return this.e("Password is required")
            if(this.data.password.length < 3) return this.e("Password length small 3 characters")

            this.isLogging = true
            const res = await this.callApi("post", "app/admin_login", this.data)    
            
            
            if(res.status == 200){
                this.s(res.data.msg)
                window.location = "/"
            }else{
                if(res.status == 401){
                    this.e(res.data.msg)
                }else
                if(res.status == 422){
                    for(let i in res.data.errors){
                        this.e(res.data.errors[i][0])
                    }
                }else{
                    this.swr()
                }
                this.isLogging = false
            }
            

        }
    }

}
</script>


<style scoped>
    ._1adminOverveiw_table_recent{
        margin: 0 auto;
        margin-top: 220px;
    }

    .login_footer{
        text-align: center;
    }

    .login_header{
        text-align: center;
        margin-bottom: 25px;
        font-size: 35px;
    }
</style>