<template>
    <div>
		
        <div class="content">
			<div class="container-fluid">
					
				<!--~~~~~~~ TABLE ONE ~~~~~~~~~-->
				<div class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20">
					<div class="table_title">
						<div class="nomi space_all table_main">
						 Role Management
						</div>
						<div class="space_all">
						 <Button v-if="isWritePermitted" @click="addModal=true" size="large"><Icon type="md-add" /> Add new a role</Button> 
						</div>
					</div>

					<div class="_overflow _table_div">
						<table class="_table" style="border-radius: 20%;">
								<!-- TABLE TITLE Begin -->
							<tr>
								<th class="table_id"><Icon type="md-arrow-round-down" />Id</th>
								<th class="table_rec_id"><Icon type="md-arrow-round-down" />RecId</th>
								<th class="_check"></th>
								<th><Icon type="md-arrow-round-down" />Role Type</th>
								<th class="cre_at"><Icon type="md-arrow-round-down" />Created at</th>
								<th class="action">Action</th>
							</tr>
								<!-- TABLE TITLE End -->


								<!-- ITEMS Begin -->
							<tr v-for="(role, i) in roles" :key="i">
								<td>{{i}}</td>
								<td>{{role.id}}</td>
								<td><Checkbox></Checkbox></td>
								<td class="table_main">{{role.roleName}}</td>
								<td>{{dataCorrect(role.created_at)}}</td>
								<td>
									<Button v-if="isUpdatePermitted" type="info" size="large" @click="showEditModal(role, i)"><Icon type="md-create" /> Edit</Button>
									<Button v-if="isDeletePermitted" type="error" size="large" @click="showDeleteModal(role, i)"><Icon type="md-trash" /> Delete</Button>
								</td>
							</tr>
							
								<!-- ITEMS end -->
						</table>
					</div>
				</div>
				<!-- <Page :total="100" /> -->


				<!-- Tags Add Modal -->
				<Modal
					v-model="addModal"
					title="Add Role"
					:mask-closable="false"
                    :cloasable="false"
					width=340> 

					<Input v-model="data.roleName" placeholder="Enter Role Name..." style="width: 300px" />					

					<div slot="footer">
						<Button type="default" @click="addModal=false">Cancel</Button>
						<Button type="primary" @click="addButton" :disabled="isAdding" :loading="isAdding">{{isAdding ? "Adding..." : "Add Role"}}</Button>
					</div>
				</Modal>

				<!-- Tags Edit Modal -->
				<Modal
					v-model="editModal"
					title="Edit Role"
					:mask-closable="false"
                    :cloasable="false"
					width=340> 

					<Input v-model="editData.roleName" placeholder="Edit Role Name..." style="width: 300px" />					

					<div slot="footer">
						<Button type="default" @click="editModal=false">Cancel</Button>
						<Button type="primary" @click="editButton" :disabled="isAdding" :loading="isAdding">{{isAdding ? "Editing..." : "Edit Role"}}</Button>
					</div>
				</Modal>
				
				<!-- Tags delete Modal -->
				<Modal
					v-model="deleteModal"
					title="delete Role"
					:mask-closable="false"
                    :cloasable="false"
					width=340> 

					<p>You deleting this -> ' {{this.deleteData.id}}:{{this.deleteData.roleName}} ' data</p>					

					<div slot="footer">
						<Button type="default" @click="deleteModal=false">Cancel</Button>
						<Button type="error" @click="deleteButton" :disabled="isAdding" :loading="isAdding">{{isAdding ? "Deleting..." : "Delete role"}}</Button>
					</div>
				</Modal>

			</div>
		</div>
    </div>
</template>

<script>
export default {

	data(){
		return {
			data: {
				roleName: "" //modal dagi inputdagi qiymatni o`ziga oladi
			},
			editData: {
				id: null,
				roleName: ""
			},
			deleteData: {
				id: null,
				roleName: "",
            },
            roles: [],
			addModal: false,
			editModal: false,
			deleteModal: false,
			isAdding: false,
			editId: null,
			deleteId: null,
			websiteSettings: []
		}
	},

	methods: {
		
		
		async addButton(){
			if(this.data.roleName.trim()=="") return this.e("roleName name is required")
			this.addModal = false 
			const res = await  this.callApi("post", "app/create_role", this.data)
			if(res.status === 201 ){
				this.roles.push(res.data)
				this.s("Role has been added succesfully")
				this.addModal = false 
				this.data.roleName = "" 
			}else{
				if(res.status==422){
					if((res.data.errors.roleName)){
						this.e(res.data.errors.roleName[0])
					}
				}else{
					this.swr()
                }
                this.addModal = true 
			}
		},

		async editButton(){
			if(this.editData.roleName.trim()=="") return this.e("Tag name is required")
		    this.editModal = false
            const res = await  this.callApi("post", "app/edit_role", this.editData)
            
			if(res.status === 200 ){
				this.roles[this.editId].roleName = this.editData.roleName
				this.s("Role has been edited succesfully")//Edit ni notice qilmoqda
				this.editModal = false //modal yopilmoqda
				this.editId = null
				editData = {
				    id: null,
				    roleName: ""
			    }

			}else{//201 dan boshqa status bo`lganida ya`ni xatolik bo`lgan holda
				if(res.status==422){ //Status 422 bo`lsa ya`ni back end ning validatsiyasidan o`tmasa
					if((res.data.errors.roleName)){
						this.e(res.data.errors.roleName[0])//back enddan data.errors.tagName dan qanday xato bo`lganini xabari keladi
					}
				}else{
					this.swr()//Qandaydir Xatolik bo`lsa notice da chiqaradi
                }
                this.editModal = true
			}
		},

		async deleteButton(){
            this.deleteModal = false
            const res = await this.callApi("post", "app/delete_role", this.deleteData) 
			 
			if(res.status === 200){
				this.roles.splice(this.deleteId, 1);
				//console.log(this.tags)
				this.deleteModal = false
				this.s("Succes Deleted")
				this.deleteId = null
				this.deleteData = {id: null,roleName: "",}
			}else{
                this.swr()
                this.deleteModal = true
			}
		},

		

		showEditModal(role, i){
			let obj = {
				id: role.id,
				roleName: role.roleName
			}
			this.editId = i
			this.editData = obj
			this.editModal = true
		},

		showDeleteModal(role, i){
			this.deleteId = i
			this.deleteData.roleName = role.roleName
			this.deleteData.id = role.id
			this.deleteModal = true
		}
	},

	async created() {
		
		const res  = await this.callApi("get", "app/get_roles")
		
		if(res.status === 200 ){ 
			this.roles = res.data 
		}else{
			this.swr() 
		}
	}

}
</script>